body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

svg {
  height: 50px;
  width: 50px;
}

.circle1 {

  border: 5px;
  stroke: black;

}

.container {
  display:flex;
  flex-wrap: wrap;
}

.basicnode {
  display: flex;
}

.arrowsize {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.bstlevel0 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bstlevel1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bstlevel2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bstlevel3 {
  display: flex;
  justify-content: center;
  width: 100%;
}

