body {
  font-family: 'Roboto', sans-serif;
  // background-image: url('https://static1.squarespace.com/static/56de7db3d210b80e7a26dd73/t/56e7c148d210b88679ccf62f/1458028874087/Black+background+-+with+fade.jpg?format=2500w');
  font: black;

  a {
    text-decoration: none;
    color: #042E54;
  }

  label {
    display: block;
  }

  h1 {
    color: #C3C3C3;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  }

 h2 {
    color: #C3C3C3;
    text-shadow: 0px 0px 1px rgba(255,255,255,0.7);
  }

  nav a {
    display: inline-block;
    margin: 1em;
    color: #C3C3C3;
    font-family: 'Roboto', sans-serif;
  }

  input {
    background-color: #C3C3C3;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

   button {
    background-color: #C3C3C3;
    color: black;
    font-family: 'Roboto', sans-serif;
  }

  form div {
    margin: 1em;
    display: inline-block;
    color: #C3C3C3;

  }
}

svg {
  height: 50px;
  width: 50px;
}

.circle1 {

  border: 5px;
  stroke: black;

}

.container {
  display:flex;
  flex-wrap: wrap;
}

.basicnode {
  display: flex;
  color: black;
  border: cornflowerblue;
}

.arrowsize {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.bstlevel0 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bstlevel1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bstlevel2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bstlevel3 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.formDisplay {
  display: flex;
}

#userDScontainer-left {
  display: flex;
  flex-direction: column;
  flex-flow: nowrap;
  justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
  color: #445765;
}

#userDScontainer-right {
  display: flex;
  flex-direction: column;
  flex-flow: nowrap;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
  color: #445765;
}

#userDSitem {
  flex-grow: 1;
  padding: 20px;
  align-content: left;
  width: 100%;
}

/* starting state of animation*/
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
