@mixin flex-master($dir: row){
  flex-direction: $dir;
  justify-content: flex-start;
}

.main-container {
 @include flex-master(column);
  &-controls {
   @include flex-master(column); 
    float: left;
    border-right: 1px solid grey;
    background-color:#EDEAE5;
    color: #026670
  }
}

.save-form {
  margin-top: 15px;
  color: #026670;
}






