
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

.bstNode {
  border: 5px;
  stroke: green;
  display: flex;
  color: #016670;
  fill: url(#MyGradient);
}

.bstNode2{
  @extend .bstNode;
  stroke: #E36A80;
  //fill: linear-gradient(#F8D9DF, white)
  fill: url(#MyGradient2)
}

.bstNode3 {
  @extend .bstNode;
  stroke: #E36A80;
  fill: url(#MyGradient3);
}

.bstNode4 {
  @extend .bstNode;
  stroke: #E36A80;
  fill: url(#MyGradient4);
}
.bstNode5 {
  @extend .bstNode;
  stroke: #E36A80;
  fill: url(#MyGradient5);
}

.bstNode6 {
  @extend .bstNode;
  stroke: #E36A80;
  fill: url(#MyGradient6)
}

.bstNode7 {
  @extend .bstNode;
  stroke: #E36A80;
  fill: url(#MyGradient7)
}
.bstNode8 {
  @extend .bstNode;
  stroke: #E36A80;
  fill: url(#MyGradient8)
}
